
<section class="main">
      <form class="list" role="form">
      
        <div class="container">
        <h1><u>Angular Test Page</u></h1>
          <div class="row">
            <div class="col-xs-2">
              <section class="list__filters">
                <h4>Customer</h4>
                <select class="form-control" ng-model="selectedcustomer" ng-options="onecustomer.name for onecustomer in allcustomers"/>
                <br/>                
				<div/>
              </section>
            </div>
            <div class="col-xs-10">
              <div class="main__content">
                <div class="row">
                  <div class="col-xs-12">
                    <section >
                    <h4>Customer Information</h4>
                    <hr/>
                         <div class="form-group">
					        <label class="col-xs-2 control-label">Name</label>
					        <div class="col-xs-3">
					          <input type="text" value="{{selectedcustomer.name}}"  class="form-control" placeholder="Text input">
					        </div>
					      </div>
					      
					      <div class="form-group">
					        <label class="col-xs-2 control-label">City</label>
					        <div class="col-xs-3">
					          <input type="text" value= "{{selectedcustomer.city}}" class="form-control" placeholder="Text input">
					        </div>
					      </div>
					      <br>

					      <hr/>   <div class="panel--divider"></div>
					  
					  	<div class="form-group">
					        <label class="col-xs-2 control-label">Home Phone #</label>
					        <div class="col-xs-3">
					          <input type="text" class="form-control" placeholder="Text input">
					        </div>
					      </div>
					  
					  <div class="form-group">
					        <label class="col-xs-2 control-label">Cell #</label>
					        <div class="col-xs-3">
					          <input type="text" value= "{{onecustomer.name}}" class="form-control" placeholder="Text input">
					        </div>
					      </div>
					  </div>
					  
                      <section class="list__buttons">
                        <div>
                          <button type="button" class="btn btn-default" disabled="disabled">Cancel</button>
                          <button type="button" class="btn btn-default" ng-model ="{{selectedcustomer}}" type="submit" ng-click="SaveCustomer($selectedcustomer)">Save</button>
                        </div>
                      </section>
                    </section>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </section>
    

